body{
  background-color: lightblue;
}

.app-container {
  padding: 20px 30px;
  font-family: Arial, sans-serif; 
}

h1{
  text-align: center;
}

button {
  padding: 10px 15px;
  margin: 5px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
  color: #000000;
  border: #000000 1px solid;
}

.product{
 border: #000000 1px solid;
 padding: 5px;
 margin: 7px 0;
}

form div {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.product-item {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
}

.product-list {
  margin-top: 20px;
}



